.principal {
    align-items: center;
    margin-bottom: 30px;
}

input[type="file"] {
    display: none;
}

/* form label {
    padding: 20px 10px;
    width: 100px;
    height: 120px;
    background-color: rgb(219, 212, 212);
    color: rgb(240, 239, 239);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 5px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 10px;
} */

.nome {
    padding-top: 20px;
    padding-left: 15px;
}

.nome label {
    padding-right: 40px;
}

.nome input {
    width: 330px;
    height: 25px;
    border: none;
    border-radius: 8px;
    background-color: rgb(219, 212, 212);
    outline: none;
    padding-left: 5px;
    font-size: 15px;
}

.phone {
    padding-top: 20px;
    padding-left: 15px;
}

.phone label {
    padding-right: 22px;
}

.phone input {
    width: 330px;
    height: 25px;
    border: none;
    border-radius: 8px;
    background-color: rgb(219, 212, 212);
    outline: none;
    padding-left: 10px;
    font-size: 15px;
}

.pxa {
    display: flex;
    padding-left: 15px;
}

.peso label {
    padding-right: 50px;
}

.peso input {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 8px;
    background-color: rgb(219, 212, 212);
    outline: none;
    padding-left: 10px;
    font-size: 15px;
}

.pxa .altura {
    padding-left: 103px;
}

.altura label {
    padding-right: 15px;
}

.altura input {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 8px;
    background-color: rgb(219, 212, 212);
    outline: none;
    padding-left: 10px;
    font-size: 15px;
}

.final {
    display: flex;
    padding-left: 15px;
}

.data {
    padding-right: 15px;
}

#data {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 8px;
    background-color: rgb(219, 212, 212);
    outline: none;
    padding-left: 10px;
    font-size: 15px;
}

.valor {
    padding-right: 20px;
    padding-left: 107px;
}

#valor {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 8px;
    background-color: rgb(219, 212, 212);
    outline: none;
    padding-left: 10px;
    font-size: 15px;
}


/*#btn-add {
    cursor: pointer;
    width: 100px;
    height: 60px;
    position: fixed;
    right: 610px;
    bottom: 110px;
    background-color: #F8F9FA;
    border: none;
    border-radius: 8px;
    color: rgb(68, 66, 66);
    font-size: 1.0rem;
    font-weight: bold;
    box-shadow: 0.1em 0 0.3em olive;
}

#btn-add:hover {
    transition: 0.3ms;
    background-color: #C0D731;
    box-shadow: 0.1em 0 0.3em rgb(235, 235, 187);
}*/